.c_ctr {
    padding: 0 18px;
}

.c_row {
    display: table;
    margin: 36px 0;
    width: 100%;
}

.c_col {
    display: table-cell;
    float: none;
    width: 50%;
    height: 100%;
    vertical-align: top;
    table-layout: fixed;
}

.c_col:first-child {
    padding-right: 18px;
}

.c_col:last-child {
    padding-left: 18px;

    visibility: hidden;
}

.c_col_inner {
    display: inline-block;
    padding: 0 36px;
    height: 100%;
    border-left: 2px solid #F7941E; /* rgb(247, 148, 30) */
    background-color: #FFF;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
}

.c_col_ttl {
    display: inline-block;

    padding-top: 22px;

    color: #F7941E; /* rgb(247, 148, 30) */
    font-weight: 400;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: .2px;
    word-spacing: .4px;
}

.email_ttl {
    display: inline-block;

    padding-top: 18px;

    color: #6E6E6E; /* rgb(110, 110, 110) */
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: .2px;
    word-spacing: .4px;
}

.email_input {
    padding: 4px 0;

    width: 100%;

    outline: none;
    border: none;
    border-bottom: 2px solid #6E6E6E; /* rgb(110, 110, 110) */

    color: #000; /* rgb(0, 0, 0) */
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .2px;
    word-spacing: .4px;
}

.email_input:focus {
    border-bottom: 2px solid #F7941E; /* rgb(247, 148, 30) */
}

.email_textarea {
    margin-top: 4px;
    padding: 4px;

    width: 100%;
    min-height: 112px; 

    outline: none;
    border: 2px solid #6E6E6E; /* rgb(110, 110, 110) */

    color: #000; /* rgb(0, 0, 0) */
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .2px;
    word-spacing: .4px;
}

.email_textarea:focus {
    border: 2px solid #F7941E; /* rgb(247, 148, 30) */
}

.email_submit {
    display: inline-block;

    margin: 0;
    margin-top: 18px;
    padding: 10px 0;

    width: 100%;

    border: 2px solid #F7941E; /* rgb(247, 148, 30) */
    outline: none;

    background-color: #FFF; /* rgb(255, 255, 255) */

    color: #F7941E; /* rgb(247, 148, 30) */
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .2px;
    word-spacing: .4px;

    /* Ease-in */
    -webkit-transition: color .2s cubic-bezier(.4, 0, .65, .18), background-color .2s cubic-bezier(.4, 0, .65, .18);
       -moz-transition: color .2s cubic-bezier(.4, 0, .65, .18), background-color .2s cubic-bezier(.4, 0, .65, .18);
         -o-transition: color .2s cubic-bezier(.4, 0, .65, .18), background-color .2s cubic-bezier(.4, 0, .65, .18);
            transition: color .2s cubic-bezier(.4, 0, .65, .18), background-color .2s cubic-bezier(.4, 0, .65, .18);
}

.email_submit:hover {
    background-color: #F7941E; /* rgb(247, 148, 30) */

    color: #FFF; /* rgb(255, 255, 255) */

    /* Ease-out */
    -webkit-transition: color .2s cubic-bezier(.35, .82, .4, 1), background-color .2s cubic-bezier(.35, .82, .4, 1);
       -moz-transition: color .2s cubic-bezier(.35, .82, .4, 1), background-color .2s cubic-bezier(.35, .82, .4, 1);
         -o-transition: color .2s cubic-bezier(.35, .82, .4, 1), background-color .2s cubic-bezier(.35, .82, .4, 1);
            transition: color .2s cubic-bezier(.35, .82, .4, 1), background-color .2s cubic-bezier(.35, .82, .4, 1);
}