.c_ctr {
    padding: 0 18px;
}

.c_row {
    margin: 36px 0;

    border-left: 2px solid #F7941E; /* rgb(247, 148, 30) */

    background-color: #FFF; /* rgb(255, 255, 255) */

    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
}

.c_row_inner {
    padding: 0 36px;
}

.c_row_img {
    display: table-cell;

    text-align: left;

    vertical-align: middle;
}

.c_row_img > img {
    max-width: 358px;
    max-height: 158px;
}

.c_row_text {
    display: table-cell;

    padding-left: 36px;

    vertical-align: middle;
}

.c_row_ttl {
    display: inline-block;

    padding-top: 22px;

    color: #F7941E; /* rgb(247, 148, 30) */
    font-weight: 400;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: .2px;
    word-spacing: .4px;
}

.c_row_text > .c_row_paragraph:nth-child(2) {
    padding: 18px 0 26px 0;
}

.c_row_paragraph {
    display: inline-block;

    margin: 0;
    padding: 0 0 26px 0;

    color: #6E6E6E; /* rgb(110, 110, 110) */
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .2px;
    word-spacing: .4px;
}